/***********************************************************************************************************************/
/***************** DARK VARIABLE *****************************/
$dark--main: #0a0a0a;
$dark--300: #2a2e34;
$dark--200: #3b3f46;
$dark--100: #7e7e7e;

/***********************************************************************************************************************/
/***************** LIGHT VARIABLE *****************************/
$light-main: #ffffff;
$light--200: #d8d8d8;
$light--100: #2a2e34;

/***********************************************************************************************************************/
/***************** COMMON VARIABLE *****************************/
$main: #ff7300;
